* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Rajdhani';
}

nav {
    padding: 2% 3%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: aquamarine;
    font-size: 1.5rem;
}

.nav-links a {
    margin-left: 10px;
    color: aquamarine;
    font-size: 1.2rem;
}

#first {
    color: aquamarine;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    padding: 3% 5%;
    background-color: aquamarine;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    text-align: center;    
    width: 25%;
    height: fit-content;
    opacity: 100%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, font-size 0.3s;
}
.card:hover{
    transform: Rotate(3deg) scale(1.05);
    transition: transform 0.3s, font-size 0.2s;
    font-size: large;
}

ul {
    list-style: none;
}
 ul li {
    margin-bottom: 15px;
}

.card>*:not(.read) {
    margin-bottom: 50px;
}

.read {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: aquamarine;
}

.title {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    color: aquamarine;
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second {
    padding: 3% 5%;
    background-color: #000;
    color: aquamarine;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.left,.right {
    border: aquamarine solid 2px;
    border-radius: 10px;
    width: 40%;
    padding: 1%;
    min-height: fit-content;
    height: 600px;
}
.left p{
    margin-bottom: 10px;
}

.left h2{
    margin-bottom: 50px;
}
.imgfoot>*{
    margin-top: 20px;
}
img {
    width: 100%;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.3s;
}

.second button,.touch button {
    margin-top: 10px;
    width: 30%;
    padding: 2.5%;
    background-color: aquamarine;
    color: #000;
    border: aquamarine 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.second button:hover, .touch button:hover{
    background-color: #000;
    color: aquamarine;
    transform: scale(0.9);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.second button:active, .touch button:active{
    transform: scale(0.8);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.blog img {
    width: 50%;
    height: 100%;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.3s;
}
.blog img:hover,.left img:hover {
    opacity: 40%;
    transition: opacity 0.3s;
}

.blog {
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog 


.right {
    padding: 1%;
}

.right>.title2 {
    margin-bottom: 50px;
}

.last2{
    width: 100%;
    padding:3% 5%;
    color: #000;
    background-color: aquamarine;
    text-align: center;
}
.sub{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    .last2>*{
        margin-bottom: 20px;
    }
.left2,.right2{
    height:max-content;
    border: #000 solid 1px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
.image2 img{
    border-radius: 10px 0 0 10px;
}
.image2{
    display: flex;
}
.imgdet{
    width: 30%;    
    font-size: 90%;
}

.last2 button {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    padding: 2%;
    background-color: #000;
    color: aquamarine;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.last2 button:hover {
    background-color: aquamarine;
    color: #000;
    transform: scale(0.95);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.last2 button:active {
    transform: scale(0.90);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.last{
    background-color: #000;
    color: aquamarine;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.last .details{
    width: 30%;
    border: 1px solid aquamarine;
    border-radius: 10px;
    padding: 1%;
}
.details>*:not(.details h3){
    margin-top: 30px;
}
#street::before{
    content: "📍 ";
}
#phone::before{
    content: "🤙🏻 ";
}
#mail::before{
    content: "💌 ";
}
.flinks,.touch{
    width: 20%;
    border: 1px solid aquamarine;
    padding: 1%;
    border-radius: 10px;
}
.flinks>*:not(.flinks h3){
    margin-top: 30px;
    margin-bottom: 20px;
}
.touch>*:not(.touch h3){
    margin-top: 30px;
}
.touch input{
    padding: 2%;
    border: 1px solid aquamarine;
    border-radius: 5px;
    outline: 0;
    background-color: #000;
    font-size: 100%;
    width: 100%;
}
.touch input::placeholder{
    color: rgba(127, 255, 212, 0.704);
}
.touch>*{
    margin-bottom: 15px;
}
header{
    width: 100%;
    padding: 1% 3%;
    display: flex;
    align-items: center;
    background-color: aquamarine;
    font-weight: 500;
    justify-content: space-between;
}
header a{
    color: #000;
    margin-left: 1%;
}
header>*{
    width: 40%
}
header .soc{
    text-align: end;
}
footer{
    padding: 1% 3%;
    width: 100%;
}
footer h4{
    margin-left: 7%;
}
.last2 p{
    font-weight: 500;
}
.touch h4{
    font-size: 14px;
}
.touch button{
    width: 100% !important;
    font-size: 100% !important;
}
.touch{
    width: max-content;
}
.blog{
    display: flex;
    height: max-content;
}
.imgdet2{
    width: 50%;
    padding: 1%;    
}
.blog button,.image button{
    width: 100%;
}
.right button{
    margin-top: 20%;
}
.last>*{
    height: fit-content;
}

